<!-- _includes/sidebar.html -->
<div class="sidebar">
    <nav>
      <ul>
        {% assign sorted_pages = site.pages | sort: "path" %}
        {% assign root_folders = "" | split: "" %}
        
        {% for page in sorted_pages %}
          {% assign path_parts = page.path | split: "/" %}
          {% if path_parts.size > 0 and path_parts[0] != "_" and path_parts[0] != "assets" and path_parts[0] != ".git" %}
            {% unless root_folders contains path_parts[0] %}
              {% assign root_folders = root_folders | push: path_parts[0] %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        
        {% for folder in root_folders %}
          <li class="folder-item">
            <span class="folder-name">{{ folder | capitalize }}</span>
            <ul class="folder-contents">
              {% for page in sorted_pages %}
                {% if page.path contains folder and page.title %}
                  {% assign path_parts = page.path | split: "/" %}
                  {% if path_parts.size == 2 and path_parts[0] == folder %}
                    <li class="page-item {% if page.url == page.url %}active{% endif %}">
                      <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                    </li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              
              {% assign subfolders = "" | split: "" %}
              {% for page in sorted_pages %}
                {% if page.path contains folder %}
                  {% assign path_parts = page.path | split: "/" %}
                  {% if path_parts.size > 2 and path_parts[0] == folder %}
                    {% assign subfolder = path_parts[1] %}
                    {% unless subfolders contains subfolder %}
                      {% assign subfolders = subfolders | push: subfolder %}
                    {% endunless %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              
              {% for subfolder in subfolders %}
                <li class="subfolder-item">
                  <span class="folder-name">{{ subfolder | capitalize }}</span>
                  <ul class="subfolder-contents">
                    {% for page in sorted_pages %}
                      {% assign path_parts = page.path | split: "/" %}
                      {% if path_parts.size > 2 and path_parts[0] == folder and path_parts[1] == subfolder and page.title %}
                        <li class="page-item {% if page.url == page.url %}active{% endif %}">
                          <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>